{% extends 'base_message.html' %}
{% load static %}

{% block app_css %}
    <link href="{% static 'chat/style.css' %}" rel="stylesheet" type="text/css" />
{% endblock app_css %}

{% block content %}
        
            <div class="room-container__msg">
               
                    <img src="{% static 'assets/img/intro.jpg' %}" class="container-fluid m-auto" height="700">
               
                </div>
                <!--  msg input -->
        
        </div>
            {% endblock content %}