{% extends 'base.html' %}

{% load static %}



{% block content %}
<body class="fixed-nav">

    <!--main content wrapper-->
    <div class="content-wrapper">

        <div class="container-fluid">
        
        <!--profile banner-->
        <div class="profile-banner" style="background-image: url({% static 'assets/img/background.jpg' %})">
            <div class="row ">
                <div class="col-md-6 ml-auto text-lg-right">

                    <div class="mt-4">
                        <a href="#" class="btn btn-sm btn-info btn-pill pl-5 pr-5">Prenom & Nom: {{user.first_name}} {{user.last_name}}</a>
                        <a href="#" class="btn btn-sm btn-purple btn-pill pl-5 pr-5">TEL: {{profile.phone_number}}{{user.id}}</a>
                    </div>
                </div>
            </div>
        </div>
        <!--/profile banner-->

        <!--profile nav-->
        <div class="profile-nav bg-white">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8 ml-auto">
                        <div class="profile-nav-links">
                            <ul class="nav f12">

                                <li class="nav-item">
                                    <a class="nav-link" href="#">ACTIVITY</a>
                                </li>

                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!--/profile nav-->

        <div class="container-fluid">

            <div class="row">
                <div class="col-xl-4 col-md-6 profile-info-position">
                    <div class="card card-shadow mb-4 ">
                        <div class="card-body">
                            <div class="text-center">
                                <div class="mt-4 mb-3">
                                       {% if messages %}
                                            {% for message in messages %}
                                            <div class="alert alert-{{message.tags}}">
                                                {{message}}
                                            </div>
                                            {% endfor %}
                                        {% endif %}
                                    <img class="rounded-circle"  src= "{{request.user.profile.image.url}}"  alt='{{profile}}' width="85" />
                                </div>
                                <h5 class="text-uppercase mb-0">{{user.username}}</h5>
                                <p class="text-muted mb-0">{{user.email}}</p>

                                <div class="profile-social-link mb-4">
                                    <a href="www.facebook.com" class="mx-2"><i class="fa fa-facebook-square"></i></a>
                                    <a href="www.twitter.com" class="mx-2"><i class="fa fa-twitter"></i></a>
                                    <a href="www.youtube.com" class="mx-2"><i class="fa fa-youtube"></i></a>
                                </div>
                               <div class="badge-icon mb-4">

                                   <img src="{% static 'assets/img/badge/status.svg' %}" width="50" alt="Status" data-toggle="tooltip" data-placement="top" title="Status Admin"/>

                             </div>
                            </div>

                        </div>
                    </div>

                   <div class="card card-shadow mb-4">
                       <div class="card-header border-0">
                           <div class="custom-title-wrap bar-danger">
                               <div class="custom-title">Points</div>
                           </div>
                           <div class="progress mt-4" style="height: 5px;">
                               <div class="progress-bar bg-purple-light" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                           </div>
                           <div class="mt-2">
                               <span class="float-left f12 text-muted">Total 7250</span>
                               <span class="float-right f12 text-muted">1250 Left</span>
                           </div>
                       </div>
                       <div class="dropdown-divider"></div>
                       <div class="card-body">
                           <div class="row f12 mb-3">
                               <div class="col-6">Article Read</div>
                               <div class="col-6">
                                   <div class="row">
                                       <div class="col-6">900/1200</div>
                                       <div class="col-6">
                                           <div class="progress mt-2" style="height: 5px;">
                                               <div class="progress-bar bg-info" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </div>
                           <div class="row f12 mb-3">
                               <div class="col-6">Comments</div>
                               <div class="col-6">
                                   <div class="row">
                                       <div class="col-6">145/450</div>
                                       <div class="col-6">
                                           <div class="progress mt-2" style="height: 5px;">
                                               <div class="progress-bar bg-primary" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </div>
                           <div class="row f12 mb-3">
                               <div class="col-6">Likes</div>
                               <div class="col-6">
                                   <div class="row">
                                       <div class="col-6">370/750</div>
                                       <div class="col-6">
                                           <div class="progress mt-2" style="height: 5px;">
                                               <div class="progress-bar bg-success" role="progressbar" style="width: 35%;" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </div>
                           <div class="row f12">
                               <div class="col-6">Share</div>
                               <div class="col-6">
                                   <div class="row">
                                       <div class="col-6">30/100</div>
                                       <div class="col-6">
                                           <div class="progress mt-2" style="height: 5px;">
                                               <div class="progress-bar bg-danger" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </div>
                           <div class="text-center mt-4">
                               <a href="#" class="btn btn-sm btn-pill btn-outline-primary">View All</a>
                           </div>
                       </div>
                   </div>



               </div>

               <div class="col-xl-8 col-md-6">
                 <div class="timeline-title btn-pill bg-gray text-muted d-inline-block px-3 py-1 mb-5 mx-5"> Aujourd'hui c'est  {% now '  d  - m - Y'%}</div>
                   <ul class="list-unstyled base-timeline activity-timeline">

                       <li class="">
                           <div class="timeline-icon bg-danger">
                               <i class="fa fa-tasks"></i>
                           </div>
                           <div class="act-time">Today</div>
                           <div class="base-timeline-info">
                               <a href="#" class="text-uppercase weight700 f12 text-danger">Task Added</a>
                               <span class="d-block">You have added task #26 Successfully to the project “Agile CRM”</span>
                           </div>
                           <small class="text-muted">
                               28 mins ago
                           </small>
                       </li>
                       <li class="">
                           <div class="timeline-icon bg-success">
                               <i class="fa fa-download"></i>
                           </div>
                           <div class="base-timeline-info">
                               <a href="#" class="text-uppercase weight700 f12 text-success">Download Complete</a>
                               <span class="d-block">You downloaded the pdf documentation file of Agile CRM</span>
                           </div>
                           <small class="text-muted">
                               45 mins ago
                           </small>
                       </li>
                       <li class="">
                           <div class="timeline-icon bg-primary">
                               <i class="fa fa-handshake-o"></i>
                           </div>
                           <div class="act-time">Yesterday</div>
                           <div class="base-timeline-info">
                               <a href="#" class="text-uppercase weight700 f12 text-primary">Deal Added</a>
                               <span class="d-block">Final deal with ABC Company is done and added to the “Upcoming deal” list</span>
                           </div>
                           <small class="text-muted">
                               12 mins ago
                           </small>
                       </li>
                       <li class="">
                           <div class="timeline-icon">
                               <img src="{% static 'assets/img/avatar/avatar2.jpg' %}" alt=""/>
                           </div>
                           <div class="base-timeline-info">
                               <a href="#" class="text-uppercase weight700 f12 text-info">Charlie Johnson</a>
                               <span class="d-block">joined DashLab last week.</span>
                           </div>
                           <small class="text-muted">
                               3 days ago
                           </small>
                       </li>
                       <li class="">
                           <div class="timeline-icon bg-purple">
                               <i class="fa fa-check"></i>
                           </div>
                           <div class="act-time">29 January</div>
                           <div class="base-timeline-info">
                               <a href="#" class="text-uppercase weight700 f12 text-purple">Task Complete</a>
                               <span class="d-block">5 tasks for 29 january is completed successfully and no task pending</span>
                           </div>
                           <small class="text-muted">
                               07:00 PM
                           </small>
                       </li>
                   </ul>

                   <br/>





               </div>
           </div>

        </div>
         
    </div>

</div>

    </div>
    <!--/main content wrapper-->

    <!--right sidebar-->
       
        

   


<footer>
    {% include 'stock/include_footer.html' %}
</footer>



{% endblock content %}