{%load crispy_forms_tags %}
{% csrf_token %}
 
                                  <tr>
                                    <th scope="row">{{articles.categorie|as_crispy_field}}</th>
                                    <th scope="row">{{articles.stock|as_crispy_field}}</th>
                                    <th scope="row">{{articles.article|as_crispy_field}}</th>
                                    <th scope="row">{{articles.qte|as_crispy_field}}</th>
                                    <th scope="row">{{articles.date_sortie|as_crispy_field}}</th>
                                    
                                    
                                  </tr>
                                 
                            
                
                      
                    
              
   
             
    
     
   

