{% load crispy_forms_tags %}
    <thead>
        <tr>
            <th>Article</th>
            <th>quantité</th>
            <th>prix de chat</th>
            <th>prix</th>
            <th>enlever</th>
        </tr>
    </thead>
    
        {%for item in cart %}
       
        <tr>
            <td>{{item.article.nom}}</td>
            <td>
                <form action="{% url 'stock:cart_add'%}" method="post">
                    <div class="row">
                        <div class="col-6">
                            {{item.update_quantity.quantity}}
                            {{item.update_quantity.override}}
                        </div>
                       
                    <div class="col-6"><button type="submit" class="btn-sm btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-bag-plus-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zM8.5 8a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V12a.5.5 0 0 0 1 0v-1.5H10a.5.5 0 0 0 0-1H8.5V8z"/>
                      </svg>
                    </button>
                    </div>
                    
                    </div>
                    
                   
                    {%csrf_token%}
                </form>
            </td>
            <td>
               {{ item.prix_achat}}
            </td>
            <td>{{item.total_prix}}</td>
            <td>
                <form action="{% url 'stock:cart_remove' item.article.numero%}" method="post">
                    {%csrf_token%}
                    <!-- <input type="hidden" name=""> -->
                    <button type="submit" class ='btn btn-danger'name="">evleve</button>
                </form>
            </td>
        </tr>
        
        {%endfor%}
        <tr>
            <td>Total:</td>
            <td colspan="3"></td>
            <td>{{cart.get_total_prix}}</td> 
        </tr>
    </tbody>
