{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">

    
    <!-- Modal -->
  <!--  <div class="modal fade" id="myModal" role="dialog">-->
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" >Supprimer Boutique</h4>
  
                     <button type="button" class="close" data-dismiss="modal">
                         <a href=""  >&times;</a>
                     </button>
  
  
                       </div>
                     <div class="modal-body">
                           {% if messages %}
                           {% for message in messages %}
                          <div class="alert alert-{{message.tags}}">
                          {{message}}
                          </div>
                             {% endfor %}
                              {% endif %}
                              <!--    form      -->
                              <form method="POST">
                                {% csrf_token %}
                                <h2>vous etez sur de Supprimer la Boutique du Vendeur {{ boutique.vendeur }}</h2>
                                <button type="submit">confirm</button>
                            
                            </form>>

      </div>
     <div class="modal-footer">
   <a href=""  >
       <button type="button" class="btn btn-default p-2 " data-dismiss="modal">
          Close
         </button>
        </a>
        </div>


        <!--   endform         -->
       </div>
    </div>
          <!--  </div>-->
   
          </div>
{% endblock content %}
{% include 'stock/include_footer.html' %}