 <!--footer-->
<footer class="sticky-footer">
    <div class="container">
        <div class="text-center">
            <small> Tous droits réservés à leurs propriétaire respectifs &copy;  {% now 'Y' %}</small>
            <a href="#"><i class="fa fa-phone-square"></i></a>
            <a href="Facebook.com"><i class="fa fa-facebook-square"></i></a>
            <a href="twitter.com"><i class="fa fa-twitter-square"></i></a>
            <a href="instagram.com"><i class="fa fa-instagram"></i></a>
            <a href="youtube.com"><i class="fa fa-youtube-square"></i></a>
            <a href="telegram.com"><i class="fa fa-telegram"></i></a>
            <a href="linkedin.com"><i class="fa fa-linkedin-square"></i></a>
            <small> &copy; جميع الحقوق محفوظة لاصحابها </small><br>
            <!-- <table id="data_table" class="table table-bordered table-striped" cellspacing="0">
                    
              <thead>
                <th scope="col" >Mohamed Abdellahi Sidi Mohamed</th>
                <th scope="col" > Elhasen ......</th>
                <th scope="col">Mohamedou Fi</th>
                <th scope="col"> Elhasen ......</th>
              </thead>
            </table> -->
        </div>
    </div>
</footer>
<!--/footer-->