{% extends 'base.html'%}
{% block content %}}

{% load crispy_forms_tags %}

<div class="content-wrapper">

        <div class="container-fluid">

            <!--page title-->
            <div class="page-title mb-4 d-flex align-items-center">
                <div class="mr-auto">
                    <h4 class="weight500 d-inline-block pr-3 mr-3 border-right">LIST DES FACTURES</h4>
                    <nav aria-label="breadcrumb" class="d-inline-block ">
                        <ol class="breadcrumb p-0">
                            <li class="breadcrumb-item"><a href="{% url 'stock:home' %}">Accueil</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'stock:factureform'%}">Ajouter Une Facture</a></li>
                            <li class="breadcrumb-item active" aria-current="page">List Des Factures</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <!--/page title-->
                   <div class="row">
                <div class="col-xl-12">
                      <div class="card card-shadow mb-4 ">
                            <div class="card-header border-0">
                                <div class="custom-title-wrap bar-warning">
                                    <div class="custom-title">LIST DES FACTURES </div>
                                    <div class=" widget-action-link">
                                      {% if request.user.is_staff %}

                                        <div class="dropdown">
                                            <a href="#" class="btn btn-transparent text-secondary dropdown-hover p-0" data-toggle="dropdown">
                                                Action <i class="fa fa-caret-down pl-2"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right vl-dropdown">
                                                
                                                <a class="dropdown-item" href="{% url 'stock:home' %}"> Accueil</a>
                                                <a class="dropdown-item" href="{% url 'stock:factureform'%}">Ajouter Une Facture</a>
                                                <a class="dropdown-item" href="{% url 'stock:table_facture' %}"> List Des Factures</a>
                                            </div>
                                        </div>
                                         {%endif%}

                                    </div>
                                </div>
                            </div>
                        <div class="card-body- pt-3 pb-4">
                            <div class="table-responsive">
                                {% if request.user.is_staff %}
                                <table id="data_table" class="table table-bordered table-striped" cellspacing="0">

                                    <thead>

                                    <tr>
                                       
                                       <th scope="col">UTILISATEUR </th>
                                       <th scope="col">LES SORTIS </th>
                                       <th scope="col">LA PRIX TOTALE</th>
                                       <th scope="col">DATE DE FACTURE</th>
                                       <th scope="col">IMPRIMER LA FACTURE </th>
                                       <th scope="col">SUPPRIMER LA FACTURE</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {% for facture in tfacture %}
                                        <tr>
                                            <td scope="row"> {{facture.User}} </td>
                                            <td>
                                                <table>
                                                    <thead>
                                                        <th scope="col" >stock</th>
                                                        <th scope="col" >categorie</th>
                                                        <th scope="col">article</th>
                                                        <th scope="col">quantité </th>
                                                        <th scope="col">prix </th>
                                                    </thead>
                                                    {%for item in facture.sorties.all %}
                                                    <tbody>
                                                        <td scope="row">{{item.stock}}</td>
                                                        <td scope="row">{{item.categorie}}</td>
                                                        <td scope="row">{{item.article}}</td>
                                                        <td scope="row">{{item.qte}}</td>
                                                        <td scope="row">{{item.prix_sortie}} <span>N-UM</span></td>
                                                       
                                                    </tbody>
                                                    {%endfor%}
                                                </table>
                                            </td>
                                            <td scope="row">{{facture.totalprix}}  <span>N-UM</span></td>
                                            <td scope="row">{{facture.dateFacture}}</td>
                                             <th>
                                                 <a href="imprimer_facture/{{facture.id}}" class="btn btn-primary mb-2 btn-success" >IMPRIMER</a>
                                         
                                             </th>
                                             <th>
                                                <a href="delete_facture/{{facture.id}}" class="btn btn-primary mb-2 btn-success" >SUPPRIMER</a>
                                        
                                            </th>

                                    

                                        </tr>

                                        {%endfor%}
                                    </tbody>

                                </table>
                                {% else %}
                                <table id="data_table" class="table table-bordered table-striped" cellspacing="0">

                                    <thead>

                                    <tr>
                                       <th scope="col"></th>
                                       
                                       <th scope="col">UTILISATEUR </th>
                                       <th scope="col">LES SORTIS </th>
                                       <th scope="col">LA PRIX TOTALE</th>
                                       <th scope="col">DATE DE FACTURE</th>
                                       <th scope="col">IMPRIMER LA FACTURE </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {% for facture in tfacture %}
                                        <tr>
                                            <td class="action-checkbox">

                                                   {% if request.user.is_staff %}
                                                             <input type="checkbox" name="_selected_action" value="2" class="action-select">
                                                   {%endif%}



                                                <img class="rounded-circle mr-3 table-thumb" src="{{request.user.profile.image.url}}" width="30px"  alt=""/>

                                            </td>
                                            <td scope="row"> {{facture.User}} </td>
                                            <td>
                                                <table>
                                                    <thead>
                                                        <th scope="col" >stock</th>
                                                        <th scope="col" >categorie</th>
                                                        <th scope="col">article</th>
                                                        <th scope="col">quantité </th>
                                                        <th scope="col">prix </th>
                                                    </thead>
                                                    {%for item in facture.sorties.all %}
                                                    <tbody>
                                                        <td scope="row">{{item.stock}}</td>
                                                        <td scope="row">{{item.categorie}}</td>
                                                        <td scope="row">{{item.article}}</td>
                                                        <td scope="row">{{item.qte}}</td>
                                                        <td scope="row">{{item.prix_sortie}} <span>N-UM</span></td>
                                                       
                                                    </tbody>
                                                    {%endfor%}
                                                </table>
                                            </td>
                                            <td scope="row">{{facture.totalprix}}  <span>N-UM</span></td>
                                            <td scope="row">{{facture.dateFacture}}</td>
                                            
                                             <th>
                                                 <a href="imprimer_facture/{{facture.id}}" class="btn btn-primary mb-2 btn-success" >IMPRIMER</a>
                                         
                                             </th>

                                    

                                        </tr>

                                        {%endfor%}
                                    </tbody>

                                </table>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
<!--    footer -->
     {% include 'stock/include_footer.html' %}



    </div>

{% endblock content %}