{% extends 'base.html'%}

{% block content %}
<div class="container"><h1><B><i>LIST DES COMMANDES </i></B></h1></div>

<div class="block container">
    
    <table class="table table-hover btn-success btn-primary mb-6">
        <thead>
            <th scope="col">UTILISATEUR </th>
            <th scope="col">DATE DE COMMANDE</th>
            <th scope="col" colspan=2>Actions</th>
        </thead>
{% for commande in tcommande %}

        <tbody>    
            <tr>
                <td scope="row"> {{commande.user}} </td>
                <td scope="row">{{commande.date}}</td>
                <th>
                   <a href="#" class="btn btn-primary mb-2 btn-success" >Modifier</a>
                 </td>
                <th>
                    <a href="#" class="btn btn-primary mb-2 btn-success" >Supprimer</a>
            
                </td>
             </tr>	
                
    

{% endfor %}
         </tbody>
    </table>
</div>
{% include 'stock/include_footer.html' %}
{% endblock content %}