{% extends 'base.html'%}

{% block content %}
<div class="container"><h1><B><i>LIST DES ARTICLES ENTRER DANS LA STOCK </i></B></h1></div>

<div class="block container">
    
    <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
    <a class="navbar-brand">Navbar</a>
    <form class="d-flex">
      <input name="R" class="form-control me-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
     </div>
    </nav>
    <table class="table table-hover btn-success btn-primary mb-6">
        <thead>
            <th scope="col">UTILISATEUR </th>
            <th scope="col">STOCK</th>
            <th scope="col">ARTICLE</th>
            <th scope="col">QUANTITE ENTRER</th>
            <th scope="col">PRIX D'ENTRER</th>
            <th scope="col">DATE D'ENTRER</th>
            <th scope="col" colspan=2>Actions</th>
        </thead>
{% for enter in tentrer %}

        <tbody>    
            <tr>
                <td scope="row"> {{enter.user}} </td>
                <td scope="row">{{enter.stock}}</td>
                <td scope="row">{{enter.article}}</td>
                <td scope="row">{{enter.qte}}</td>
                <td scope="row">{{enter.prix_entree}}</td>
                <td scope="row">{{enter.date_entree}}</td>
                <th>
                   <a href="#" class="btn btn-primary mb-2 btn-success" >Modifier</a>
                 </td>
                <th>
                    <a href="#" class="btn btn-primary mb-2 btn-success" >Supprimer</a>
            
                </td>
             </tr>	
                
    

{% endfor %}
         </tbody>
    </table>
</div>
{% include 'stock/include_footer.html' %}
{% endblock content %}