{% extends 'base.html'%}
{% block content %}}

{% load crispy_forms_tags %}

<div class="content-wrapper">

        <div class="container-fluid">

            <!--page title-->
            <div class="page-title mb-4 d-flex align-items-center">
                <div class="mr-auto">
                    <h4 class="weight500 d-inline-block pr-3 mr-3 border-right">LIST DES Points De Vents</h4>
                    <nav aria-label="breadcrumb" class="d-inline-block ">
                        <ol class="breadcrumb p-0">
                            <li class="breadcrumb-item"><a href="{% url 'stock:home' %}">Accueil</a></li>
                            <!-- <li class="breadcrumb-item"><a href="{% url 'stock:categorieform'%}">Ajouter nouvelle Categorie</a></li> -->
                            <li class="breadcrumb-item active" aria-current="page">table des Des Points de Vents</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <!--/page title-->
                   <div class="row">
                <div class="col-xl-12">
                      <div class="card card-shadow mb-4 ">
                            <div class="card-header border-0">
                                <div class="custom-title-wrap bar-warning">
                                    <div class="custom-title">LIST DESPOINTS DES VENTS</div>
                                    <div class=" widget-action-link">
                                      {% if request.user.is_staff %}

                                        <div class="dropdown">
                                            <a href="#" class="btn btn-transparent text-secondary dropdown-hover p-0" data-toggle="dropdown">
                                                Action <i class="fa fa-caret-down pl-2"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right vl-dropdown">
                                                <a class="dropdown-item" href="{% url 'stock:home' %}">Accueil</a>
                                                <!-- <a class="dropdown-item" href="{% url 'stock:categorieform'%}"> Ajouter nouvelle Categorie</a> -->
                                                <a class="dropdown-item" href="{% url 'stock:table_categorie'%}"> table des points des vents</a>
                                            </div>
                                        </div>
                                         {%endif%}

                                    </div>
                                </div>
                            </div>
                        <div class="card-body- pt-3 pb-4">
                            <div class="table-responsive">
                                {% if request.user.is_staff %}
                                <table id="data_table" class="table table-bordered table-striped" cellspacing="0">

                                    <thead>

                                    <tr>
                                       <!-- <th scope="col"></th> -->
                                       <th scope="col">Lieu </th>
                                       <th scope="col">Moghataa </th>
                                       <th scope="col">Vendeur </th>
                                       <th scope="col">Magazinier </th>
                                       <th scope="col">Modifier</th>
                                       <th scope="col">Supprimer</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {% for boutique in tboutique %}
                                        <tr>
                                            <td>{{boutique.lieu}}</td>
                                            <td>{{boutique.moghataa}}</td>
                                            <td>{{boutique.vendeur}}</td>
                                            <td>{{boutique.magazinier}}</td>
                                            <th>
                                                <a href="update_boutique/{{boutique.id}}" class="btn btn-primary mb-2 btn-success" >Modifier</a>
                                              </th>
                                             <th>
                                                 <a href="delete_boutique/{{boutique.id}}" class="btn btn-primary mb-2 btn-success" >Supprimer</a>
                                         
                                             </th>

                                    

                                        </tr>

                                        {%endfor%}
                                    </tbody>

                                </table>
                                {% else %} 
                                
                                <table id="data_table" class="table table-bordered table-striped" cellspacing="0">

                                    <thead>

                                    <tr>
                                       <th scope="col"></th>
                                       <th scope="col">CATEGORIE </th>
                                       <th scope="col">UTILISATEUR </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {% for categori in tcategorie %}
                                        <tr>
                                            <td class="action-checkbox">

                                                   {% if request.user.is_staff %}
                                                             <input type="checkbox" name="_selected_action" value="2" class="action-select">
                                                   {%endif%}



                                                <img class="rounded-circle mr-3 table-thumb" src="{{request.user.profile.image.url}}" width="30px"  alt=""/>

                                            </td>
                                            <td>{{categori.categorie}}</td>
                                            <td>{{categori.user}}</td>

                                    

                                        </tr>

                                        {%endfor%}
                                    </tbody>

                                </table>
                                
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
<!--    footer -->
     {% include 'stock/include_footer.html' %}



    </div>

{% endblock content %}