{% extends 'base.html'%}
{% block content %}

{% load crispy_forms_tags %}

<div class="content-wrapper">

        <div class="container-fluid">

            <!--page title-->
            <div class="page-title mb-4 d-flex align-items-center">
                <div class="mr-auto">
                    <h4 class="weight500 d-inline-block pr-3 mr-3 border-right">Table Utilisateur</h4>
                    <nav aria-label="breadcrumb" class="d-inline-block ">
                        <ol class="breadcrumb p-0">
                            <li class="breadcrumb-item"><a href="{% url 'stock:home' %}">Accueil</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'accounts:signup' %}">Ajouter des utilisateur</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Table des utilisateur</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <!--/page title-->
                   <div class="row">
                <div class="col-xl-12">
                      <div class="card card-shadow mb-4 ">
                            <div class="card-header border-0">
                                <div class="custom-title-wrap bar-warning">
                                    <div class="custom-title">Tables des utilisateur</div>
                                   
                                    <div class=" widget-action-link">
                                      {% if request.user.is_staff %}

                                        <div class="dropdown">
                                            <a href="#" class="btn btn-transparent text-secondary dropdown-hover p-0" data-toggle="dropdown">
                                                Action <i class="fa fa-caret-down pl-2"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right vl-dropdown">
                                                 <a class="dropdown-item" href="{% url 'accounts:signup'%}">Ajout de utilisateur</a>
                                                <a class="dropdown-item" id="action_move_auther_group" href="#"> Move to another group</a>
                                                <a class="dropdown-item" id="action_delete" href=""> Delete</a>
                                                <form method="" id='update_form' action="">
                                                    <input type="hidden" name="id_user" id='id_user' value="">
                                                    <button class="dropdown-item" type='submit' id="action_update">Modifier</button>
                                                </form>
                                                
                                                <a class="dropdown-item" id="action" href="#"> Send Message</a>
                                            </div>
                                        </div>
                                         {%endif%}

                                    </div>
                                </div>
                            </div>
                        <div class="card-body- pt-3 pb-4">
                            <div class="table-responsive">
                                <table id="data_table" class="table table-bordered table-striped" cellspacing="0">

                                    <thead>

                                    <tr>
                                       <th scope="col"></th>
                                            <th scope="col">Nom d’utilisateur</th>
                                            <th scope="col">Phone</th>
                                            <th scope="col">Adresse électronique</th>
                                            <th scope="col">Prénom</th>
                                            <th scope="col">Nom</th>
                                            <th scope="col">Status utilisateur</th>
                                    </tr>
                                    </thead>
                                    <tfoot>

                                    <tr>
                                         <th scope="col" clospan="7"></th>
                                            <th scope="col"></th>
                                            <th scope="col"></th>
                                            <th scope="col"> </th>
                                            <th scope="col"></th>
                                            <th scope="col"></th>
                                            <th scope="col"> </th>
                                    </tr>
                                    </tfoot>
                                    <tbody>
                                     {% for p in user %}
                                        <tr>
                                            <td class="action-checkbox"> 

                                                   {% if request.user.is_superuser %}
                                                             <input type="checkbox" name="_selected_action"  value="{{p.id}}" class="action-select" >
                                                   {%endif%}



                                                <img class="rounded-circle mr-3 table-thumb" src="{{p.profile.image.url}}" width="30px"  alt=""/>

                                            </td>
                                            <td><a href="{% url 'stock:ajax_update' %}">{{p.username}}</a></td>
                                            <td>{{p.phone_number}}</td>
                                            <td>{{p.email}}</td>
                                            <td>{{p.first_name}}</td>
                                            <td>{{p.last_name}}</td>

                                            <td>
                                                {% if p.is_staff%}
                                                <center>Admin</center>
                                                {% else %}
                                                
                                                <center>Superviseur</center>
                                                   {% endif %}
                                            </td>


                                        </tr>

                                        {%endfor%}
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
<!--    footer -->
     {% include 'stock/include_footer.html' %}



    </div>
<script>
function getCheckboxes() {
        return document.querySelectorAll('input[type=checkbox]');
    }

    function uncheckAllCheckboxes() {
        var checkboxes = getCheckboxes();

        for (var i = 0, length = checkboxes.length; i < length; i++) {
            checkboxes[i].checked = false;
            // return false;
        }
        // return true;
    }

    function manageClick() {
        uncheckAllCheckboxes();

        this.checked = true;
    return true;
    }

    function init() {
        var checkboxes = getCheckboxes();

        for (var i = 0, length = checkboxes.length; i < length; i++) {
            checkboxes[i].addEventListener('click', manageClick);
        }
    }

    init();

    //ajx 
    
</script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>

$(document).ready(function() {
    $('#action_delete').click(function() {
        if (confirm('Vous etes sur? ')) {
            
       
            var id_user=[];
            $(':checkbox:checked').each(function(i){
              id_user[i]=$(this).val();
            });
            if (id_user.length===0) {
                alert('Please select a user to delete');
            }else{
                $.ajax({
                    url: '{% url "stock:ajax_delete" %}',
                    
                    data:{
                        id_user
                    }
                })
            }
        }
    })
});
$(document).ready(function() {
    $('#action_update').click(function() {
            var id_user=[];
            $(':checkbox:checked').each(function(i){
              id_user[i]=$(this).val();
            });
            if (id_user.length===0) {
                alert('Please select a user to delete');
            }
            else{
                $.ajax({
                    
                    
                    data:{
                        
                    }
                });
            }
       
    })
});
$(document).ready(function() {
    // var selected = []
$('input[type=checkbox]').change(function() {
    var id_user=[];
            $(':checkbox:checked').each(function(i){
              id_user[i]=$(this).val();
            });
            if (id_user.length===0) {
                

                alert('Please select a user to delete');
                
                            
            }
            else{
            $('#id_user').attr('value',id_user[0])}
            $('#update_form').attr('action', '{% url "stock:ajax_update"%}')
            $('#update_form').attr('method', 'GET')
})
})
//   $('#id_categorie').change(function(){
//     var url =$('#stock_Form').attr("data-articles-url");
//     var categorieId=$(this).val();
//     $.ajax({
//       url : url,
//       data:{
//         'categorie':categorieId
//       },
//       success: function(data){
//         $("#id_article").html(data);
//       }
//     });
//   });
// function update() {
// var allVals=[]
// $('input[type="checkbox"]:checked').each(function(){
//     allVals.push($(this).val());
// });
// $('$t').val(allVals);
// }
// $(function(){
// $('input[type=checkbox]').click(update);
// update();
// });



// $(document).ready(function(){
//     $('#action_delete').click(function(){
    //     // var id_user;
    //     var url=$('#action_delete').attr('href');
    //     var selected =$('input[name=_selected_action]:checked').map(function()  {return this.value}).get().join(',')
        // $("input[type=checkbox]:checked").each(function(){
        //     selected.push($(this).val());
        // })
        
    //     var id_user=selected
    //     $.ajax({
    //         url=url,
    //         data:{
    //             'id_user': id_user,
    //         },
    //         success: function(data){
    //     console.log(data)
    //   }
    //     });
        
        // if($("input[type=checkbox]").prop(":checked"))
        // {
        //     var id_user = $('.action-select').val();
        //     $.ajax({
        //     url=url,
        //     data:{
        //         'id_user': id_user,
        //     },
        //     success:function(data){
        //         return data;
        //     }
        // });

        // }
    
        
//     });
// });
</script>
{% endblock content %}