{% extends 'base.html'%}
{% block content %}}
{% load crispy_forms_tags %}

<div class="content-wrapper">

        <div class="container-fluid">

            <!--page title-->
            <div class="page-title mb-4 d-flex align-items-center">
                <div class="mr-auto">
                    <h4 class="weight500 d-inline-block pr-3 mr-3 border-right">LIST DES ARTICLES</h4>
                    <nav aria-label="breadcrumb" class="d-inline-block ">
                        <ol class="breadcrumb p-0">
                            <li class="breadcrumb-item"><a href="{% url 'stock:home' %}">Accueil</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'stock:articleform'%}">Ajouter nouvelle Article </a></li>
                            <li class="breadcrumb-item"><a href="{% url 'stock:sortirform'%}">Sortir Des Article </a></li>
                            <li class="breadcrumb-item"><a href="{% url 'stock:table_article'%}">List Des Articles </a></li>
                        </ol>
                    </nav>
                </div>
            </div>
            <!--/page title-->
                   <div class="row">
                <div class="col-xl-12">
                      <div class="card card-shadow mb-4 ">
                            <div class="card-header border-0">
                                <div class="custom-title-wrap bar-warning">
                                    <div class="custom-title">LIST DES ARTICLES</div>
                                    <div class=" widget-action-link">
                                      {% if request.user.is_staff %}

                                        <div class="dropdown">
                                            <a href="#" class="btn btn-transparent text-secondary dropdown-hover p-0" data-toggle="dropdown">
                                                Action <i class="fa fa-caret-down pl-2"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right vl-dropdown">
                                                 <a class="dropdown-item" href="{% url 'stock:home' %}">Accueil</a>
                                                <a class="dropdown-item" href="{% url 'stock:articleform'%}">Ajouter nouvelle Article </a>
                                                <a class="dropdown-item" href="{% url 'stock:sortirform'%}"> Sortir Des Article</a>
                                                <a class="dropdown-item" href="{% url 'stock:table_article'%}"> List Des Articles</a>
                                            </div>
                                        </div>
                                         {%endif%}

                                    </div>
                                </div>
                            </div>
                            
                        <div class="card-body- pt-3 pb-4">
                            <div class="table-responsive">
                                {% if request.user.is_staff %} 
                                <table id="data_table" class="table table-bordered table-striped" cellspacing="0">

                                    <thead>

                                        <tr>
                                           <!-- <th scope="col"></th> -->
                                                <th scope="col">NUMERO</th>
                                                <th scope="col">NOM</th>
                                                <th scope="col">LA QUANTITE DISPONIBLE</th>
                                                <th scope="col">CATEGORIE</th>
                                                <th scope="col">LA DATE D'ENTRER</th>
                                                <th scope="col">LA PRIX D'ACHAT</th>
                                                <th scope="col">STATUS</th>
                                                <th scope="col">MODIFIER</th>
                                                <th scope="col">SUPRIMER</th>
                                        </tr>
                                        </thead>
                                    <tbody>
                                        {% for article in tarticle %}
                                        <tr>
                                            <td scope="row"> {{article.numero}} </td>
                                            <td scope="row">{{article.nom}}</td>
                                            <td scope="row">{{article.quantity}}</td>
                                            <td scope="row">{{article.categorie}}</td>
                                            <td scope="row">{{article.date_entree}}</td>
                                            <td scope="row">{{article.prix_achat}} <span>N-UM</span></td>
                                            <td scope="row">{{article.statut}}</td>
                                            <th>
                                                <a href="update_article/{{article.id}}"class="btn btn-primary mb-2 btn-success" > Modifier</a>
                                              </th>
                                             <th>
                                                 <a href="delete_article/{{article.id}}" class="btn btn-primary mb-2 btn-success" >Supprimer</a>
                                         
                                             </th>

                                            


                                        </tr>

                                        {%endfor%}

                                    </tbody>

                                </table>
                                {% else %}
                                
                                <table id="data_table" class="table table-bordered table-striped" cellspacing="0">

                                    <thead>

                                        <tr>
                                                <th scope="col">NUMERO</th>
                                                <th scope="col">NOM</th>
                                                <th scope="col">LA QUANTITE DISPONIBLE</th>
                                                <th scope="col">CATEGORIE</th>
                                                <th scope="col">LA DATE D'ENTRER</th>
                                                <th scope="col">LA PRIX D'ACHAT</th>
                                                <th scope="col">STATUS</th>
                                        </tr>
                                        </thead>
                                    <tbody>
                                        {% for article in tarticle %}
                                        <tr>
                                            <td scope="row"> {{article.numero}} </td>
                                            <td scope="row">{{article.nom}}</td>
                                            <td scope="row">{{article.quantity}}</td>
                                            <td scope="row">{{article.categorie}}</td>
                                            <td scope="row">{{article.date_entree}}</td>
                                            <td scope="row">{{article.prix_achat}} <span>N-UM</span></td>
                                            <td scope="row">{{article.statut}}</td>
                                        </tr>

                                        {%endfor%}

                                    </tbody>

                                </table>
                                
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
<!--    footer -->
     {% include 'stock/include_footer.html' %}



    </div>

{% endblock content %}
