{% extends 'base.html'%}
{% block content %}
{% load crispy_forms_tags %}


<div class="container">
   <div class="row">
  <div class="col-md-3">
    <div class="card card-body">
      <a class="btn btn-warning" href="{% url 'accounts:profile'%}"> &#8592; Retoune a mon prifile</a>
      <hr>
      <h3 style="text-align: center">Change Password</h3>
      <hr>
      <img class="profile-pic" src="{{request.user.profile.image.url}}" >

    </div>
  </div>




    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <div class="modal-body">



      <form method="POST" >
           {% csrf_token %}
              {{ form|crispy }}


   <input type="submit" class="btn btn-purple float-right" value="change password">


      </form>
        </div>



          <!--   endform         -->
      </div>
    </div>

<!--  </div>-->
</div>

{%  endblock  %}
